*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --font-family: "Poppins", sans-serif;
   --bg-color: #dff6ff;
   --bg-blue: #0877d9;
   --bg-primary: #000;
   --bg-secondary: #fff;
   --contact-color: #f4f5f7;
   --bg-red: red;
}

.dark-theme {
   --bg-primary: rgb(255, 255, 255);
   --bg-secondary: rgb(0, 0, 0);
   --bg-color: #002331;
   /* --bg-color: #001975; */
   --contact-color: #000000;
   --bg-red: white;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--font-family);
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.container {
   width: 75%;
   margin: 0 auto;
}

/* !Coding! */
.home-img {
   background-color: var(--bg-color);
   background-size: cover;
   /* min-height: 100vh; */
   width: auto;
}

header {
   background-color: var(--bg-secondary);
   z-index: 100;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .logo img {
   height: auto;
   width: 80px;
   cursor: pointer;
}

/* !ICON! */
.iconnn {
   width: 40px;
   cursor: pointer;
}

.links {
   display: flex;
   justify-content: right;
   text-align: right;
   flex: 1;
}
.links li {
   margin: 0 1rem;
}

.links a {
   color: var(--bg-primary);
}

.links a::after {
   content: "";
   position: relative;
   bottom: 0;
   right: 0;
   background-color: var(--bg-blue);
   height: 2px;
   width: 0;
   display: block;
   transition: width 0.25s ease-out;
}

.links a:hover::after {
   width: 100%;
   left: 0;
   right: auto;
}

.burger {
   display: none;
   cursor: pointer;
}

.bar {
   display: block;
   width: 40px;
   height: 5px;
   margin: 5px auto;
   background-color: var(--bg-blue);
   transition: 0.3s ease-out;
}

@media (max-width: 1024px) {
   .links {
      position: fixed;
      min-height: 100vh;
      width: 100%;
      left: -100%;
      top: 85px;
      background-color: var(--bg-blue);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      transition: 0.5s ease-out;
      /* padding-top: 1rem; */
      z-index: 1000;
   }

   .links.active {
      left: 0%;
   }

   .links li {
      padding: 0.5rem 0;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.75rem;
   }

   .links a {
      color: var(--bg-secondary);
   }

   .burger {
      display: flex;
      flex-direction: row-reverse;
      z-index: 100;
      opacity: 1;
   }

   .burger.active .bar:nth-child(2) {
      opacity: 0;
   }

   .burger.active .bar:nth-child(1) {
      transform: translateY(15px) rotate(45deg);
   }

   .burger.active .bar:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
   }
}

@media (max-width: 1024px) {
   .nav-bar.container {
      width: 90%;
   }
}

@media (max-width: 1000px) {
   header .logo img {
      height: auto;
      width: 80px;
      cursor: pointer;
      margin-left: -15px;
   }
}

/* !CURSOR! */
.cursor {
   position: fixed;
   border-radius: 50%;
   transform: translateX(-50%) translateY(-50%);
   pointer-events: none;
   left: 100px;
   top: 50%;
   mix-blend-mode: difference;
   /* background-color: rgb(255, 0, 0); */
   z-index: 10000;
   /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
   border: 3px solid var(--bg-blue);
   height: 30px;
   width: 30px;
   transition: all 300ms ease-out;
}

/* !Home Container! */

.home {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-basis: auto;
   padding-top: 6rem;
   padding-bottom: 6rem;
   color: var(--bg-primary);
}

/* .text {
   flex-basis: 40%; */
/* } */

.text h5 {
   font-weight: 300;
   font-size: 1.25rem;
}

.text h1 {
   font-size: 4rem;
}

.text span {
   color: var(--bg-blue);
}

.text h4 {
   font-weight: 500;
   font-size: 1.5rem;
}

.text p {
   font-weight: 300;
   font-size: 1rem;
   padding-top: 0.5rem;
   width: 70%;
   /* margin: auto; */
}

.buttons {
   /* display: flex;
   flex-direction: row; */
   padding-top: 3rem;
}

.buttons button {
   border: none;
   outline: none;
   width: auto;
   padding: 15px 60px;
   cursor: pointer;
   font-size: 1rem;
   border-radius: 7px;
   color: var(--bg-secondary);
}

.buttons .services {
   margin: 0 1rem;
}

.buttons .contact button {
   background-color: var(--bg-blue);
   transition: 0.3s ease-out;
}

.buttons .services button {
   background-color: var(--bg-primary);
   transition: 0.3s ease-out;
}

.buttons .contact button:hover,
.buttons .services button:hover {
   transform: translate(0, -7px);
   box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.39);
}

/* !IMG! */
.profile {
   flex-basis: 40%;
   /* text-align: center; */
}

.profile img {
   width: 80%;
   height: auto;
   clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
   transform: scale(1.1);
}

/* !Icons! */
.icons ul {
   padding-top: 1rem;
   display: flex;
   flex-direction: row;
}

.icons ul li {
   margin: 0.5rem;
}

.icons ul li i {
   font-size: 1.3rem;
   color: var(--bg-primary);
   transition: 0.3s ease;
}

.icons ul li i:hover {
   color: var(--bg-blue);
   transform: translate(0, -5px);
   box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.39);
}

/* !Responsive! */
@media (max-width: 1200px) {
   .text h5 {
      font-weight: 300;
      font-size: 1rem;
   }

   .text h1 {
      font-size: 3rem;
   }

   .text span {
      color: var(--bg-blue);
   }

   .text h4 {
      font-weight: 500;
      font-size: 1.25rem;
   }

   .text p {
      font-weight: 300;
      font-size: 0.9rem;
      padding-top: 0.5rem;
   }
}

@media (max-width: 1024px) {
   .home {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      flex-basis: auto;
      padding-top: 4rem;
      padding-bottom: 2rem;
   }

   .text {
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
   }

   .icons ul {
      justify-content: center;
   }

   .profile {
      flex-basis: 100%;
      text-align: center;
   }

   .profile img {
      width: 50%;
      height: auto;
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      transform: scale(1.1);
   }

   .text p {
      margin: auto;
   }
}

@media (max-width: 550px) {
   .buttons {
      display: flex;
      flex-direction: column;
      padding-top: 3rem;
   }

   .buttons .services {
      margin-top: 1rem;
   }

   .text h1 {
      font-size: 2.5rem;
   }

   .buttons button {
      border: none;
      outline: none;
      width: auto;
      padding: 15px 50px;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 7px;
      color: var(--bg-secondary);
   }

   .profile img {
      width: 200px;
      height: auto;
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      transform: scale(1.1);
   }

   .text p {
      margin: auto;
      width: 100%;
   }
}

@media (max-width: 415px) {
   .text h1 {
      font-size: 2rem;
   }

   .text h4 {
      font-weight: 500;
      font-size: 1rem;
   }

   .text p {
      font-weight: 300;
      font-size: 0.8rem;
      padding-top: 0.5rem;
   }
}

@media (max-width: 350px) {
   .text h1 {
      font-size: 1.5rem;
   }

   .text h4 {
      font-weight: 500;
      font-size: 0.8rem;
      padding-top: 0.5rem;
   }
}

/* !ABOUT! */
.about {
   background-color: var(--bg-secondary);
   padding-top: 3rem;
   padding-bottom: 3rem;
   color: var(--bg-primary);
}

.cont {
   width: 80%;
   margin: 0 auto;
}

.awards {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 3rem;
   padding-bottom: 3rem;
}

.award {
   max-width: 200px;
   min-width: 200px;
}

.award .img {
   display: flex;
   flex-direction: row;
}

.award .img .text1 {
   padding-left: 1rem;
   padding-top: 0.5rem;
}

.award.award-1 .img i {
   background-color: red;
   border-radius: 50px;
   padding: 1.5rem;
   color: var(--bg-secondary);
   font-size: 2rem;
}

.award.award-1 .img .text1 .count {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--bg-primary);
}

.award.award-1 .img .text1 .ex {
   color: var(--bg-primary);
   font-size: 0.9rem;
}

/* !2! */
.award.award-2 .img i {
   background-color: rgb(0, 255, 55);
   border-radius: 50px;
   padding: 1.5rem;
   color: var(--bg-secondary);
   font-size: 2rem;
}

.award.award-2 .img .text1 .count {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--bg-primary);
}

.award.award-2 .img .text1 .ex {
   color: var(--bg-primary);
   font-size: 0.9rem;
}

/* !3! */
.award.award-3 .img i {
   background-color: rgb(234, 0, 255);
   border-radius: 50px;
   padding: 1.5rem;
   color: var(--bg-secondary);
   font-size: 2rem;
}

.award.award-3 .img .text1 .count {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--bg-primary);
}

.award.award-3 .img .text1 .ex {
   color: var(--bg-primary);
   font-size: 0.9rem;
}

/* !4! */
.award.award-4 .img i {
   background-color: rgb(76, 0, 255);
   border-radius: 50px;
   padding: 1.5rem;
   color: var(--bg-secondary);
   font-size: 2rem;
}

.award.award-4 .img .text1 .count {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--bg-primary);
}

.award.award-4 .img .text1 .ex {
   color: var(--bg-primary);
   font-size: 0.9rem;
}

/* !Responsive! */
@media (max-width: 1200px) {
   .cont {
      width: 100%;
      margin: 0 auto;
   }
}

@media (max-width: 1030px) {
   .cont {
      width: 100%;
      margin: 0 auto;
   }
}

@media (max-width: 630px) {
   .award {
      height: 100px;
      width: 200px;
   }
}

@media (max-width: 600px) {
   .awards {
      gap: 0;
   }
}

/* /////////////////////////// */
/* ////////////////////////////// */

/* !About Me 2! */
.aboutme {
   display: flex;
   /* grid-template-columns: 1fr 1fr; */
   flex-direction: row;
   width: 80%;
   margin: auto;
   /* padding: 1rem 0; */
}

.aboutme .img img {
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   width: 70%;
   height: auto;
}

.aboutext {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.aboutext h1 {
   font-size: 3rem;
   font-weight: 700;
   padding-bottom: 1.5rem;
}

.aboutext p {
   font-size: 16px;
   line-height: 23px;
   font-weight: 300;
}

.aboutext a button {
   border: none;
   background-color: var(--bg-blue);
   border-radius: 7px;
   color: var(--bg-secondary);
   font-weight: 300;
   padding: 13px 50px;
   text-align: center;
   text-transform: capitalize;
   font-size: 1rem;
   margin-top: 2rem;
   cursor: pointer;
   transition: 0.3s ease-out;
}

.aboutext a button:hover {
   transform: translate(0, -7px);
   box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.39);
}

/* !Responsive! */
@media (max-width: 1024px) {
   .aboutext h1 {
      font-size: 2.5rem;
      font-weight: 700;
      padding-bottom: 1.5rem;
   }

   .aboutext p {
      font-size: 15px;
      line-height: 23px;
      font-weight: 300;
   }

   .aboutext a button {
      border: none;
      background-color: var(--bg-blue);
      border-radius: 7px;
      color: var(--bg-secondary);
      font-weight: 300;
      padding: 13px 40px;
      text-align: center;
      text-transform: capitalize;
      font-size: 1rem;
      margin-top: 2rem;
      cursor: pointer;
      transition: 0.3s ease-out;
   }
}

@media (max-width: 800px) {
   .aboutme {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 85%;
      margin: 0 auto;
   }

   .aboutme .img {
      padding-bottom: 2rem;
   }

   .aboutme .img img {
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      width: 55%;
      height: auto;
   }
}

@media (max-width: 500px) {
   .aboutme .img img {
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      width: 250px;
      height: auto;
   }

   .aboutext h1 {
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 1.5rem;
   }

   .aboutext p {
      font-size: 14px;
      line-height: 23px;
      font-weight: 300;
   }
}

/* !SKILLS! */
.skills {
   background-color: var(--bg-color);
   padding-top: 6rem;
   padding-bottom: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--bg-primary);
}

.skills h1 {
   font-size: 3rem;
}

.experience {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(49%, 100%), 1fr));
   gap: 1.2rem;
   padding-top: 3rem;
}

.skill {
   background-color: var(--bg-secondary);
   border-radius: 5px;
   padding: 15px 20px;
   box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.39);
}

.skill .name {
   display: flex;
   justify-content: space-between;
}

.progress {
   margin-top: 1rem;
   width: 100%;
   background-color: rgb(200, 200, 200);
   height: 10px;
   border-radius: 20px;
}

.progressbar-size {
   background-color: var(--bg-blue);
   height: 10px;
   width: 90%;
   border-radius: 7px;
}

@media (max-width: 350px) {
   .skills h1 {
      font-size: 2rem;
   }
}

/* !OFFER! */
.offer {
   min-height: 100vh;
   background-color: var(--bg-secondary);
   padding-top: 6rem;
   padding-bottom: 6rem;
   color: var(--bg-primary);
}

.offer h1 {
   font-size: 3rem;
}

.offers {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
   gap: 1rem;
   padding-top: 3rem;
}

.content {
   background-color: var(--bg-secondary);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 45px 35px;
   cursor: pointer;
   border-radius: 7px;
   box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.39);
   transition: 0.3s ease-out all;
}

.content .img i {
   background-color: var(--bg-red);
   border-radius: 50px;
   padding: 1.5rem;
   color: var(--bg-secondary);
   font-size: 2rem;
}

.content .tex h1 {
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-size: 1.5rem;
}

.content:hover {
   background-color: var(--bg-blue);
   color: var(--bg-secondary);
}

@media (max-width: 350px) {
   .offer h1 {
      font-size: 2rem;
   }
}

/* !TESTIMONIAL! */
.testimonials {
   background-image: url("/assets/images/testimonials.png");
   background-position: center;
   background-repeat: no-repeat;
   width: auto;
   background-size: cover;
   padding-top: 6rem;
   padding-bottom: 6rem;
   color: #fff;
}

.testimonial {
   padding-top: 3rem;
}

.testimonials h1 {
   font-size: 3rem;
}

.testimonial img {
   width: 10%;
}

.item h1 {
   font-size: 1.5rem;
}

.item p {
   padding-top: 0.5rem;
   font-size: 1rem;
   font-weight: 300;
}

.person {
   padding-top: 1rem;
}

.person h4 {
   font-size: 1.2rem;
}

.person span {
   font-weight: 300;
}

.item {
   background-color: var(--bg-secondary);
   color: var(--bg-primary);
   padding: 40px 40px;
   border-radius: 10px;
}

@media (max-width: 600px) {
   .testimonials h1 {
      font-size: 3rem;
   }

   .testimonial img {
      width: 10%;
   }

   .item h1 {
      font-size: 1.25rem;
   }

   .item p {
      font-size: 0.9rem;
   }

   .person h4 {
      font-size: 1rem;
   }

   .person span {
      font-weight: 300;
   }
}

@media (max-width: 450px) {
   .testimonials h1 {
      font-size: 2rem;
   }
}

/* !PROJECTS! */
.projects {
   background-color: var(--bg-color);
   padding-top: 6rem;
   padding-bottom: 6rem;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--bg-primary);
}

.projects .continut h1 {
   font-size: 3rem;
   padding-bottom: 3rem;
}

.projects-made {
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 2rem;
}

.project-made {
   width: 360px;
   height: 360px;
   background-color: var(--bg-secondary);
   position: relative;
   cursor: pointer;
   transition: all 0.4s ease-out;
   color: #ff0000;
   overflow: hidden;
   box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.479);
   border-radius: 10px;
}

.project-made img {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
   transition: all 0.4s ease-out;
}

.project-made .texxt {
   position: absolute;
   padding: 30px;
   height: calc(100% - 60px);
}

.project-made .texxt h1 {
   font-size: 1.75rem;
   font-weight: 700;
   margin: 0;
   text-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
}

.animate-text {
   opacity: 0;
   transition: 0.5s ease-out all;
}

.project-made .texxt h1:hover {
   opacity: 1;
}

.project-made:hover {
   opacity: 0.5;
   transform: scale(1.05);
   /* box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.479); */
}

.git {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 3rem;
}

.git a {
   background-color: var(--bg-blue);
   color: var(--bg-secondary);
   padding: 15px 30px;
   cursor: pointer;
   font-size: 1rem;
   border-radius: 10px;
   transition: 0.3s ease-out all;
}

.git a:hover {
   transform: translate(0, -7px);
   box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.39);
}

@media (max-width: 1200px) {
   .project-made {
      width: 300px;
      height: 300px;
   }
}

@media (max-width: 1024px) {
   .projects-made {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      gap: 1rem;
   }
}

@media (max-width: 450px) {
   .projects .continut h1 {
      font-size: 2rem;
      padding-bottom: 3rem;
   }

   .project-made .texxt h1 {
      font-size: 1.5rem;
   }

   .project-made {
      width: 300px;
      height: 300px;
   }
}

@media (max-width: 370px) {
   /* .projects-made {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
      gap: 20px;
   }
     */

   .project-made {
      width: 250px;
      height: 250px;
   }
}

/* !CONTACT! */
.contactt {
   padding-top: 6rem;
}

.contactt h1 {
   font-size: 3rem;
}

.inner {
   margin-top: 3rem;
   padding: 40px;
   background-color: var(--contact-color);
   flex-wrap: wrap;
   gap: 30px;
}

.d-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.form-item {
   flex: 1 1 48%;
}

.form-item h3 {
   display: block;
   text-transform: capitalize;
   color: var(--bg-primary);
   font-weight: 300;
   padding-bottom: 0.5rem;
}

.form-item input {
   width: 100%;
   height: 50px;
   border-radius: 5px;
   color: var(--bg-primary);
   border: 1px solid #ddd;
   background-color: var(--bg-secondary);
   transition: 0.3s all ease-in;
   font-size: 1rem;
   padding-left: 0.5rem;
   outline: none;
}

.form-item input:hover {
   border: 1px solid var(--bg-blue);
}

.form-item input::placeholder {
   font-size: 1rem;
}

.textarea textarea {
   border: 1px solid #ddd;
   transition: 0.3s ease-out all;
   background-color: var(--bg-secondary);
   width: 100%;
   height: 200px;
   outline: none;
   padding-left: 0.5rem;
   font-size: 1rem;
}

.textarea textarea:hover {
   outline: none;
   border: 1px solid var(--bg-blue);
}

.submit {
   display: flex;
   padding-top: 1rem;
   justify-content: center;
   align-items: center;
}

.submit button {
   background-color: var(--bg-blue);
   color: var(--bg-secondary);
   padding: 15px 40px;
   cursor: pointer;
   font-size: 1.25rem;
   border-radius: 10px;
   border: none;
   transition: 0.3s ease-out all;
}

.submit button:hover {
   transform: translate(0, -7px);
   box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.39);
}

@media (max-width: 400px) {
   .inner {
      margin-top: 3rem;
      padding: 20px;
   }

   .form-item h3 {
      font-size: 1rem;
   }

   .contactt h1 {
      font-size: 2rem;
   }
}

/* !FOOTER! */
.footer {
   background-color: var(--bg-secondary);
   color: var(--bg-primary);
}

.footer-links {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-top: 5.5rem;
}

.footer-links a {
   color: var(--bg-primary);
   font-weight: 300;
   padding: 0 1rem;
   transition: 0.3s ease-out all;
   font-size: 20px;
}

.footer-links a:hover {
   color: rgba(63, 40, 40, 0.52);
}

hr {
   margin-top: 5rem;
   background-color: var(--bg-secondary);
   width: 100%;
   height: 1px;
}

.footer p {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding-top: 1rem;
   font-size: 0.9rem;
   padding-bottom: 3rem;
}

@media (max-width: 800px) {
   .footer-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 2.5rem;
   }

   .footer-links li {
      padding: 0.5rem 0;
      font-size: 20px;
   }

   .footer p {
      padding-bottom: 5rem;
   }

   hr {
      margin-top: 2rem;
   }
}

/* !STICKY! */
.sticky {
   position: fixed;
   box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.39);
   transition: 0.3s ease-out all;
   width: 100%;
   z-index: 100;
   background-color: var(--bg-secondary);
}

/* !SCROLL up! */
.button-up {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--bg-blue);
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 7px;
   position: fixed;
   bottom: 30px;
   right: 30px;
   transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
   opacity: 0;
   z-index: 10;
   cursor: pointer;
   color: var(--bg-secondary);
   transition: all 0.4s;
}

.button-up.active {
   opacity: 1;
}
